<table align="right"><tr> <td><button  class=" btn btn-danger" routerLink="userregistration">Register</button> </td><td><button routerLink="adminlogin" class=" btn btn-danger">Admin Login</button> </td><td><button class="btn btn-danger" routerLink="loginpage">User Login</button></td></tr></table>
<table align="center" class="table table-bordered">
    <tr>
        <td rowspan="4"><img src="/assets/{{Products.prod_id}}.png" alt="" height="400px" width="400px" ></td>
        <td>{{Products.prod_name}}</td></tr>
     <tr> <td>{{Products.description}}</td></tr>
      <tr>  <td>{{Products.price}}</td></tr>
      <tr><td ><a (click)="gotologin()"  class="btn-warning">Buy now</a></td></tr>
      <tr ><td ><b>Eligibility:</b><p>In order to be eligible for using our service,the inteded customer need to show a sufficient proof of income,income tax submission and valuated assets.</p></td>
<tr><td></td><td><a href="" download="">Terms and Conditions</a></td></tr>
<tr><td><b>Registration fee and EMI card details:</b></td><td>Basic Registration fee for Gold card:200/- and for Titanium card:500/-</td></tr>
<tr><td></td><td><b>Gold EMI Card Limit:</b>1,00,000/-</td></tr>
<tr><td></td><td><b>Titanium EMI Card Limit:</b>1,50,000/-</td></tr>


</table>