<div class="bg_login">
    <br><br><br><br> <br>
    <div class="container ">
        <div class="d-flex justify-content-center ">
            <div class="card">
                <div class="card-header">
                    <h3>Admin Login</h3>
                    
                </div>
                <div class="card-body">
                    <button class="btn btn-primary" style="position: relative; left: 320px;" (click)="goback()">Back</button>
                    <form [formGroup]="profileForm" class="form-group row" (ngSubmit)="subform()">
                        <label for="fname" class="form-label text-light ">Username</label>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                <input type="text" class="form-control-md" formControlName="UserName" [(ngModel)]="NAME1">
                            </div>
                            
                            
                            
                        </div>
                        <div class="input-group form-group">
                            <label for="lname" class="form-label text-light" >Password</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                                <input type="password" class="form-control-md" formControlName="Password" [(ngModel)]="NAME2">
                            </div>
                            
            
                        </div>
                        <div class="row align-items-center remember">
                            <input type="checkbox">Remember Me
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary mt-1 col-4  mx-auto" >Submit</button>
                            
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>